<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.naufalazryan.alumnimipaulm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlumniMIPAULM"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".sosmed.AddSosialMediaActivity"
            android:exported="false" />
        <activity
            android:name=".sosmed.SosialMediaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".pendidikan.AddPendidikanActivity"
            android:exported="false" />
        <activity
            android:name=".pekerjaan.AddPekerjaanActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.About" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".galeri.GaleriActivity"
            android:exported="false" />
        <activity
            android:name=".akademik.UpdateAkademikActivity"
            android:exported="false" />
        <activity
            android:name=".akademik.AkademikActivity"
            android:exported="false" />
        <activity
            android:name=".pekerjaan.UpdatePekerjaanActivity"
            android:exported="false" />
        <activity
            android:name=".pekerjaan.PekerjaanActivity"
            android:exported="false" />
        <activity
            android:name=".pendidikan.PendidikanActivity"
            android:exported="false" />
        <activity
            android:name=".pendidikan.UpdatePendidikanActivity"
            android:exported="false" />
        <activity
            android:name=".sosmed.UpdateSosialMediaActivity"
            android:exported="false" />
        <activity
            android:name=".sosmed.SosialMediaActivity"
            android:exported="false" />
        <activity
            android:name=".biodata.UpdateBiodataActivity"
            android:exported="false" />
        <activity
            android:name=".biodata.BiodataActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>